$ehxd_background_color: #F8F9FC ;
$ehxd_background_color_white: #ffff;
$ehxd_text_light: #fff;

$ehx_primary_btn: #1a1b1c;
$ehx_primary_btn_hover: #373434 ;
$ehxd_text_dark: $ehxd-dark-500;

$ehxd_input_border: #E8EAF1;

$ehxd_border: 1px solid $ehxd-neutral-400;