@import './base/color.scss';
@import './base/variable.scss';
@import './base/mixin.scss';

@import './component/layout/sidebar.scss';

@import './component/input.scss';
@import './component/buttons.scss';
@import './component/form.scss';
@import './component/modal.scss';
@import './component/options.scss';
@import './component/select.scss';
@import './component/table.scss';

a {
    text-decoration: none;
    color: inherit;
    &:hover {
        text-decoration: none;
        color: inherit;
    }
    &:focus {
        border: none;
        box-shadow: none;
        outline: none;
    }
}

::selection {
  background-color: #00a36c; 
  color: #ffffff;
}

:deep(.el-notification){
    top:20px !important;
}