.ehxdo-sidebar {
    width: 200px;
    height: 100vh;
    background-color: $bg-primary;
    border-radius: 16px;
    border: 1px solid $border-color;
    padding: 10px 0px;
    // box-shadow: 2px 0 8px rgba(0, 0, 0, 0.05);


    .ehxdo-menu {
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding: 15px;

        .ehxdo_menu_item {
            font-family: Inter Tight, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
            padding: 8px 12px;
            font-size: 14px;
            border-radius: 8px;
            border: 1px solid transparent;
            font-weight: 500;
            letter-spacing: 0.3px;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
            color: $text-color-small;
            margin: 0px !important;
            text-decoration: none;
            color: inherit;
            &:focus {
                border: none;
                box-shadow: none;
                outline: none;
            }
            &:hover {
                background: $bg-hover;
                border: 1px solid $border-color;
                border-radius: 8px;
                color: $text-color-large;
            }
        }
        a{
            color: inherit;
        }
        .router-link-active, .router-link-exact-active {
            background: $bg-hover;
            border: 1px solid $border-color;
            border-radius: 8px;
            color: $text-color-large;
        }
    }


}