.el-button--primary {
    color: #fff !important;
    background: #067a3b !important;
    border-color: #067a3b !important;
    transition: all 0.3s ease !important;
        padding: 18px 20px !important;
    font-size: 14px !important;
    font-weight: 500 !important;
    border-radius: 10px !important;
    &:hover {
        background: #079455 !important;
        border-color: #079455 !important;
    }
}

.el-button--info{
    background-color: #fff !important;
    color: #606266 !important;
    border: 1px solid #dcdfe6 !important;
    transition: all 0.3s ease !important;
    border-radius: 10px !important;
        padding: 18px 20px !important;
    font-size: 14px !important;
    font-weight: 500 !important;

    &:hover {
        background-color: #f5f7fa !important;
        border-color: #c6cdd6 !important;
    }
}

.el-button--success {
    color: $ehxd-dark-500;
    background: $ehxd-dark-500;
    border-color: $ehxd-dark-500;
    &:hover {
        background: $ehxd-dark-600;
        border-color: $ehxd-dark-500;
    }
}
.el-button {
    border-radius: 8px;
}
.lmt_box_icon{
    background: none;
    border: none;
    color: $ehxd-primary-500;
    padding: 0px;
}