.ehxd-table-wrapper {
    background: $ehxd_background_color;
    border-radius: 8px;
    .ehxd-table-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0px;
        border-radius: 8px 8px 0px 0px;
        .ehxd_title{
            .table-title {
                @include text($size: 20px, $weight: 600)
            }
            .table-short-dsc{
                margin: 2px 0px;
            }
        }
       
     .ltm_button{
        border-radius: 8px;
        padding: 12px 10px;
        height: 38px;
        font-size: 13px;
        letter-spacing: 0.4px;
     }
    }
  
    .ehxd-table-filter {
        background: $ehxd_background_color_white;
        padding: 12px 20px;
        border-radius: 16px 16px 0px 0px;
        border-bottom: $ehxd_border;
        display: flex;
        gap: 20px;
        justify-content: space-between;
        .el-date-editor {
            max-width: 250px;
        }
      
    }
    .ehxd-pagination{
        background: $ehxd_background_color_white;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: space-between;
        .ehxd_footer_page{
            p{
                font-weight: 400;
                font-size: 14px;
            }
        }
    }
    .table-footer {
        padding: 4px 20px;
        border-radius: 0px 0px 16px 16px;
        .el-select{
            width: 89px !important;
            .el-select__wrapper{
                min-height: 30px;
                padding: 4px 8px !important;
            }
        }
      
        .el-pagination {
          
            display: flex;
            justify-content: flex-end;
            .el-pagination__total {
                margin-right: 5px;
            }
            .number, .btn-prev, .btn-next {
                border-radius: 8px;
                min-width: 0px;
                line-height: 0px;
                height: 0px;
                padding: 14px 10px !important;
            }
           
        }
    }
    .el-table .cell{
        overflow: visible !important;
    }
    table {
        thead > tr > th {
            background-color: $ehxd-neutral-50 !important;
        }
        tr {
            height: 45px;
        }
        td{
            height: 60px;
        }
    }

    .el-table .ascending .sort-caret.ascending {
        border-bottom-color: #000 !important;
    }
    .el-table .descending .sort-caret.descending {
        border-top-color: #000 !important;
    }

}
